
.headerName {
    color: white;
    background: #38395D;
}
.tableWrapper{
    position: relative;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 85%;
    overflow: overlay;
    margin-bottom: 20px;
}
.userNameColumn{
    width:20%;
}
.idColumn{
    width:10%;
}
tbody {
    color: #cecece;
}
tr:hover {
    color: white !important;
    background-color: rgba(68, 68, 148, 0.42) !important;
}
.alignItemLeft{
    text-align: left;
    padding: 10px;
    width:300px!important;
}
.table td,.table th{
    width:300px;
}
